body{
    background: #9a0909;
}
header{
    text-align: center;
}
nav{
    display: inline-flex;
    background: black;
    column-count: 4;
    color: white;
   text-align: center;
}
nav img{
    width: 150;
}
section{
    display: inline-block;
    width: 25%, 50%; 25%;
}
.right{
    background: #7d0a09;
    color: #e95b11;
    }
aside {
    background: #e3dddd;
    float: right;
}

footer{
    background: #e95b11;
    text-align: center;
    color: white;
}


aside h1{
    background: #bdbdbd;
}