body{
    background: #000000;
}
h1{
    color: #ffffff;
}
ul{
    color: #ff0000;
}
.li{
    color: orange;
}
#li{
    color: yellow;
}
.li2{
    color: green;
}
#li2{
    color: aqua;
}
.li3{
    color: blue;
}